USE [master]
GO
/****** Object:  Database [refresh_db]    Script Date: 7/15/2020 4:23:29 PM ******/
CREATE DATABASE [refresh_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'refresh_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\refresh_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'refresh_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\refresh_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [refresh_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [refresh_db]
GO
/****** Object:  Table [dbo].[TB_COVID]    Script Date: 7/15/2020 4:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_COVID](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[nama] [varchar](100) NOT NULL,
	[npm] [varchar](8) NOT NULL,
	[umur] [int] NOT NULL,
	[jenis_kelamin] [bit] NOT NULL,
	[telepon] [varchar](13) NOT NULL,
	[alamat_saat_ini] [varchar](50) NOT NULL,
	[alamat_asal] [varchar](50) NOT NULL,
	[posisi_saat_ini] [varchar](50) NOT NULL,
	[create_by] [varchar](max) NULL,
	[create_date] [datetime] NULL,
	[update_by] [varchar](max) NULL,
	[update_date] [datetime] NULL,
	[is_delete] [bit] NOT NULL,
 CONSTRAINT [PK_TB_COVID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
